/* Widths */
$tablet: 768px;
$desktop: 992px;
$desktop-xxl: 1400px;

$wpercent_80: 80%;
$wpercent_100: 100%;

/* Heights */
$h25: 25px;
$h30: 30px;
$h40: 40px;
$h50: 50px;
$h60: 60px;
$h80: 80px;

/* Widths & Heights */
$wh_180: 180px;