* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500;1,700&display=swap');


@import "colores";
@import "titulos";
@import "paddings";
@import "font_sizes";
@import "dimensions";

body {
    background-color: $light-purple;    
    font-size: $f_1;
    color: $dark-purple;
}

/*------ NAVEGACION -----*/
#navbar {
    background-color: $dark-purple !important; /*no pude cambiar el color de otra manera que no sea con !important*/
}

.navbar-brand img {
    height: $h40;
    width: auto;
    padding-left: $p20;
}

.nav-link {
    color: $white;
    font-weight: bold;
    padding: $p20; /*no pude agregar padding a los elementos de la lista de otra manera que no sea con !important*/
}

.navbar-nav {
    padding-right: $p50;
}

/*------ para dispositivos medianos -----*/
@media (min-width: $tablet) {
    .navbar-brand img {
        height: $h50;
        width: auto;
    }
    
    .nav-link {
        font-size: $f_07;
    }
}

/*------ para dispositivos desktop -----*/
@media (min-width: $desktop) {
    .navbar-brand img {
        height: $h60;
        width: auto;
        padding-left: $p50;
    }
    
    .nav-link {
        font-size: $f_09;
    }
}

/*------ para dispositivos desktop xx-large -----*/
@media (min-width: $desktop-xxl) {
    .navbar-brand img {
        height: $h80;
        width: auto;
        padding-left: $p70;
    }
    
    .nav-link {
        font-size: $f_1;
        &:hover {
            color: $light-purple;
    }
    }
}

/*----------- ACA EMPIEZAN LOS ESTILOS DE INDEX ----------*/

/*------ CAROUSEL -----*/
#carousel {
    padding: 30px 20px 0 20px;
    .carousel-inner {
        border-radius: 20px;
    }
}

@media (min-width: $tablet) {
    #carousel {
        padding: 40px 40px 0 40px;
    }
}

/*------ para dispositivos desktop-----*/
@media (min-width: $desktop) {
    #carousel {
        padding: 50px 50px 0 50px;
    }
}

/*------ para dispositivos desktop xx-large -----*/
@media (min-width: $desktop-xxl) {
    #carousel {
        padding: 80px 180px 0 180px;
    }
}

/*------ WELCOME -----*/

#welcome {
    padding-top: $p20;
    padding-bottom: $p20;
}

/*------ para dispositivos medianos -----*/
@media (min-width: $tablet) {
    #welcome {
        padding-top: $p30;
        padding-bottom: $p30;
        font-size: $f_11;
    }
}

/*------ para dispositivos desktop -----*/
@media (min-width: $desktop) {
    #welcome {
        padding-top: $p40;
        padding-bottom: $p40;
        font-size: $f_12;
    }
}

/*------ para dispositivos desktop xx-large -----*/
@media (min-width: $desktop-xxl) {
    #welcome {
        padding-top: $p50;
        padding-bottom: $p50;
        font-size: $f_14;
    }
}

/*----------- ACA EMPIEZAN LOS ESTILOS DE ACERCA DE MI ----------*/
/*------ CARD -----*/
#card, #tabla-info {
    flex-direction: column;
    padding: 40px 40px 0 40px;
    color: $dark-purple;
}

#card {
    img {
        width: $wh_180;
        height: $wh_180;
        border-radius: 50%;
        border: solid 5px $dark-purple;
    }
    p {
        padding-top: $p20;
        font-weight: 500;
    }
}

/*------ TABLA INFO -----*/
#tabla-info {
    padding: 20px 40px 20px 40px;
    ul {
        list-style-type: none;
        .year{
            font-weight: bold;
        }
        
        .entity {
            font-weight: 500;
            font-style: italic;
        }
        
        .course {
            font-weight: normal;
        }
    }
}

/*----------- ACA EMPIEZAN LOS ESTILOS DE PROYECTOS ----------*/

#galeria {
    flex-direction: column;
    padding: 40px 0 40px 0;
    img {
        width: $wpercent_80;
        border-radius: 20px;
        border: $dark-purple solid 4px;
        transition: all 1s ease;
        filter: saturate(0);
        &:hover {
            transition: all 1s ease;
            filter: saturate(1);
            transform: scale(1.1);
        }
    }
    .portfolio-item {
        padding: $p20;
        a {
            display: flex;
            justify-content: center;
        }
    }
}

/*------ proyectos individuales -----*/
#proyecto {
    background-color: $white;
    #text-center {
        padding: 40px 40px 20px 40px;
        h2 {
            font-size: $f_1;
            color: $white;
            background-color: $dark-purple;
            border-radius: 20px;
            padding: $p10;
        }
    }
    #proyect-img {
        padding-bottom: $p40;
        img {
            width: $wpercent_100;
            padding: 0 20px 0 20px;
        }
    }
}

/*----------- ACA EMPIEZAN LOS ESTILOS DE SERVICIOS ----------*/
#servicios {
    flex-direction: column;
    padding: $p40;
}

/*----------- ACA EMPIEZAN LOS ESTILOS DE CONTACTO ----------*/
#form_id {
    padding: $p40;
    form {
        #nombre, #apellido, #email, #telefono, #mensaje {
            border: $dark-purple solid 1px;
        }
        #send-button {
            background-color: $dark-purple;
            border: $dark-purple solid 1px;
            &:hover {
                background-color: $white;
                border: $dark-purple solid 1px;
                color: $dark-purple;
            }
        }
    }
}

/*------ FOOTER -----*/
#footer {
    background-color: $dark-purple;
    font-weight: 500;
    color: $white;
}

#footer img {
    height: $h25;
}

#info {
    padding-top: $p20;
}

#links-redes {
    padding-top: $p20;
}

#copyright {
    padding-top: $p20;
    padding-bottom: $p10;
}

/*------ para dispositivos medianos -----*/
@media (min-width: $tablet) {
    #footer {
        font-size: $f_07;
    }
    
    #footer img {
        height: $h30;
    }
}

/*------ para dispositivos desktop -----*/
@media (min-width: $desktop) {
    #footer {
        font-size: $f_09;
    }
    
    #footer img {
        height: $h40;
    }
}

/*------ para dispositivos desktop xx-large -----*/
@media (min-width: $desktop-xxl) {
    #footer {
        font-size: $f_1;
    }
    
    #footer img {
        height: $h50;
    }
}